version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk-node-browsers
    working_directory: ~/alexa
    environment:
        MAVEN_OPTS: -Xms256m -Xmx1024m
        JAVA_OPTIONS: -Xms512m -Xmx6144m -XX:MaxPermSize=2048m
    steps:
      - checkout
      - restore_cache:
          key: circleci-vbx-{{ checksum ".circleci/config.yml" }}
      - run:
          name: npm-install
          command: 'if [ ! -e ~/vbx-suite/node_modules/replace-in-file ]; then npm install replace-in-file nodemailer aws-sdk; else echo "Node dependencies restored from cache"; fi;'
      - run:
          name: update-license
          command: node contributionUpdate.js ${EXP_DATE} ${LICENSE_KEY} ${HS_DATE} ${IMAGE_STR}
      - run: mvn install
      - save_cache:
          paths:
            - ~/.m2
            - ~/vbx-suite/node_modules
          key: circleci-vbx-{{ checksum ".circleci/config.yml" }}     
      - store_artifacts:
          path: updatesite/target/VBISuite-2.30.0.qualifier.zip
      - run:    
          name: 'upload file to firebase'
          command: node processTrial.js ${LICENSE_KEY} ${EXP_DATE} ${EMAIL} ${VERSION} ${FULL_NAME}
